# Mac
.DS_Store

# Node
npm-debug.log
/node_modules

# Cordova
sample/platforms
sample/plugins
sample/package-lock.json
package-lock.json

# Plugin Sample
lib/android/*.aar
lib/ios/*

# VisualStudioCode
.vscode

.gradle

src/android/.project
src/android/.settings/